<% @gates.each do |gate|%>
        <tr>
            <td><%= check_box_tag("items_ids[]", gate.id)%></td>
            <td><%= gate.id %></td>
            <td><%= gate.name %></td>
            <td><%= gate.user.email%></td>
            <td><%= gate.created_at %></td>
            <td><%= link_to "檢視", admin_gate_path(gate) , method:"get", class:"btn btn-primary"  %> <%= link_to "編輯", edit_admin_gate_path(gate), class:"btn btn-primary"  %> <%= link_to "刪除", admin_gate_path(gate) , method:"delete", class:"btn btn-danger"  %> </td>
        </tr>
<% end %>
