<%= form_tag admin_manage_gates_path,  method:"get" do %>
  <%= text_field_tag :search, params[:search], placeholder:"搜尋..." %>
<% end %>
<hr>
<div><%= form_tag admin_destroy_mutiple_path, method:"delete" do%> <%= submit_tag '刪除選中', class:"btn btn-danger" %></div>
<table class="table">
    <thead>
        <tr>
            <th><input onclick="toggle_checkall('items', this.checked) " type="checkbox"></th>
            <th>ID</th>
            <th><%= link_to '名稱', admin_manage_gates_path(sort: (params[:sort] || []).concat(['name']).uniq) %></th>
            <th>擁有者帳號</th>
            <th>創建時間</th>
            <th>管理工具</th>
        </tr>
    </thead>
    
    <tbody id="gates-list">
        <% @gates.each do |gate|%>
        <tr>
            <td><%= check_box_tag("items_ids[]", gate.id)%></td>
            <td><%= gate.id %></td>
            <td><%= gate.name %></td>
            <td><%= gate.user.email %></td>
            <td><%= gate.created_at %></td>
            <td><%= link_to "刪除", admin_gate_path(gate) , method:"delete", class:"btn btn-danger"  %> </td>
        </tr>
        <% end %>
    </tbody>
</table>
<div class="center"><%= paginate(@gates)%></div>
<% end %>
