<div><%= form_tag admin_destroy_mutiple_user_path, method:"delete" do%> <%= submit_tag '刪除選中', class:"btn btn-danger" %></div>
<table class="table">
    <thead>
        <tr>
            <th><input onclick="toggle_checkall('items', this.checked) " type="checkbox"></th>
            <th>會員 ID</th>
            <th>會員帳號</th>
            <th>登入次數</th>
            <th>權限</th>
            <th>最後登入日期</th>
            <th>最後登入 IP</th>
        </tr>
    </thead>
    
    <tbody id="users-list">
        <% @users.each do |user|%>
        <tr>
            <td><%= check_box_tag("items_ids[]", user.id)%></td>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.sign_in_count%></td>
            <td><%= user.role%></td>
            <td><%= user.last_sign_in_at%></td>
            <td><%= user.last_sign_in_ip%></td>
        </tr>
        <% end %>
    </tbody>
</table>
<div class="center"><%= paginate(@users)%></div>
<% end %>
