<% gates.each do |gate| %>
    <div class="col-lg-4 col-xs-12 gate-box container">
        <div class="gate-box-header">
            <div class="col-lg-2 col-xs-2 gate-box-icon">
                <%= show_gate_icon(gate) %>
            </div>
            <div class="col-lg-10 col-xs-10 gate-box-name">
                <%= link_to gate.name, gate_path(gate), target:"_blank" %>
            </div>
        </div>

        <div class="gate-box-body">
            <div class="col-lg-12 col-xs-12 gate-tool-top">
              <span class="join-link" id="join-<%= gate.id %>-link" data-server="<%= gate.server %>">
                <%= link_to (content_tag :i," 加入伺服器",class:"fa fa-moon-o").html_safe, join_server_gates_path(:gate_server =>gate.server ), class:"btn-tag" %>
              </span>
            </div>
            
            <div class="col-lg-12 col-xs-12 gate-intro"><%= truncate(gate.intro, length:280)%></div>
        </div>

        <div class="gate-box-tool">
            <span class="gate-tag col-lg-10"><i class="glyphicon glyphicon-tags">：</i><% search_tag_button(gate.tag_list[0..2]) %></span>
            <span class="gate-like"><%= like_gate_button(gate) %></span>
        </div>
    </div>
<% end %>
