<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <%= link_to 'MOON GATE 月門', root_path, class:"navbar-brand" %>
            <span><%= render 'gates/search_bar' %></span>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><%= sign_button %></li>
            <li><%= register_button %></li>
        </ul>
    </div>
</nav>
<div class="sign-info"><%= user_name%></div>