<div><%= link_to '新增月門', new_gate_path, class:"btn btn-primary" %></div>

<div class="container-fluid col-lg-8">
    <% @gates.each do |gate| %>
    <div class="col-lg-8 gate-box container">
        <div class="gate-box-header">
            <div class="col-lg-2 gate-box-icon">
                <%= cl_image_tag(gate.icon, width:50, height:50, radius:"max" ) %>
            </div>
            <div class="col-lg-10 gate-box-name">
                <%= link_to gate.name, gate_path(gate[:id]) %>
            </div>
        </div>

        <div class="gate-box-body">
            <div class="col-lg-12 gate-tool-top">
                <%= link_to content_tag(:i,"  加入伺服器",class: "fa fa-moon-o").html_safe, gate[:server], target: "_blank", class:"btn-tag " %>
                <%= link_to content_tag(:i,"  編輯",class: "fa fa-pencil-square-o").html_safe, edit_gate_path(gate) , class:"btn-warning push-right" %>    
            </div>
            
            <div class="col-lg-12 gate-intro"><%= gate.intro %></div>
        </div>

        <div class="gate-box-tool">
            <span class="gate-tag col-lg-10"><i class="glyphicon glyphicon-tags">：</i><% search_tag_button(gate.tag_list[0..2]) %></span>
            <span class="gate-like"><%= like_gate_button(gate) %></span>
        </div>
    </div>
    <% end %>
</div>