<div>
    <h1>月門列表</h1>
    <span style="float:right"> <%= user_name %> <%= sign_out %> 
    </span>
</div>

<div><%= link_to "新增月門", new_gate_path %></div>

<table class="table">
    <thead>
        <tr>
            <td>名稱</td>
            <td>圖示</td>
            <td>標籤</td>
            <td>簡介</td>
            <td>喜愛數</td>

        </tr>
    </thead>

    <tbody>
    <% @gates.each do |gate| %>
        <tr>
            <td><%= link_to gate.name, gate_path(gate[:id])%></td>
            <td><%= gate.icon %></td>
            <td><% search_tag_button(gate.tag_list) %></td>
            <td><%= gate.intro %></td>
            <td><%= gate.like_logs.count %></td>
            <td><%= link_to '加入伺服器', gate[:server], target: "_blank" %></td>
            <td><%= link_to 'EDIT', edit_gate_path(gate), method: "get" %></td>
            <td><%= link_to '刪除', gate_path(gate), method: "delete" %></td>
            <td><%= like_gate_button(gate) %></td>
        </tr>
    <% end %>
    </tbody>
</table>


