<!DOCTYPE html>
<html>
  <head>
    <title>MoonGate月門</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="container-fluid admin-header navbar-fixed-top"><%= render 'admin/header' %></div>
      <div class="col-lg-2 sidebar-nav container"><%= render 'admin/sidebar' %></div>
      <div class="col-lg-10 container scrollable"><%= yield %></div>      
    </div>
  </body>
</html>
