<!DOCTYPE html>
<html>
  <head>
    <title>MoonGate月門</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
        <%= render 'gates/header' %>
        <div class="col-lg-12" style="color:red;"><%= flash[:error] %></div> 
        <%= yield %>
    </div>
    <%= content_for :javascript %>
  </body>
</html>
