<!DOCTYPE html>
<html>
  <head>
    <title>MoonGate月門</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
        <%= render 'gates/header' %>
        <div style="float:right; font-size:18; color:red;"><%= flash[:notice] %></div>
        <%= yield %>
    </div>
  </body>
</html>
